---
subcategory: "Governance Group"
page_title: "IdentityNow: identitynow_governance_group_members"
description: |-
  Manages the members of an IdentityNow Governance Group.
---

# identitynow_governance_group_members

Manages the members of an IdentityNow Governance Group.

The list of members is authoritative: members added to the governance group outside Terraform are shown as a difference and removed on apply. The order of the `members` blocks doesn't matter. Destroying the resource removes only the members managed by the resource from the governance group. Manage the members of a governance group with a single resource.

## Example Usage

{{ tffile .ExampleFile }}

See the [SailPoint API documentation](https://developer.sailpoint.com/docs/api/v2024/create-workgroup) for details.

{{ .SchemaMarkdown | trimspace }}

## Import

Governance group members can be imported using the governance group ID:

{{ codefile "shell" .ImportFile }}
