---
subcategory: "Governance Group"
page_title: "IdentityNow: identitynow_governance_group"
description: |-
  Manages an IdentityNow Governance Group.
---

# identitynow_governance_group

Manages an IdentityNow Governance Group. Use `identitynow_governance_group_members` to manage its members.

## Example Usage

{{ tffile .ExampleFile }}

See the [SailPoint API documentation](https://developer.sailpoint.com/docs/api/v2024/create-workgroup) for details.

{{ .SchemaMarkdown | trimspace }}

## Import

Governance groups can be imported using their ID:

{{ codefile "shell" .ImportFile }}
