---
subcategory: "Source App"
page_title: "IdentityNow: identitynow_source_app"
description: |-
  Manages an IdentityNow Source App.
---

# identitynow_source_app

Manages an IdentityNow Source App. Use `identitynow_access_profile_attachment` to attach access profiles to it.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}

## Import

Source apps can be imported using their ID:

{{ codefile "shell" .ImportFile }}
