---
subcategory: "Tagged Object"
page_title: "IdentityNow: identitynow_tag"
description: |-
  Manages an IdentityNow tag.
---

# identitynow_tag

Manages a tag. Tags are assigned to objects with [identitynow_tagged_object](tagged_object).

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}

## Import

Tags can be imported using their ID:

{{ codefile "shell" .ImportFile }}
