---
subcategory: "Transform"
page_title: "IdentityNow: identitynow_transform"
description: |-
  Manages an IdentityNow transform.
---

# identitynow_transform

Manages a transform. Transforms manipulate attribute values and are used in identity profile attribute mappings.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}

## Import

Transforms can be imported using their ID:

{{ codefile "shell" .ImportFile }}
