---
subcategory: "Access Model Metadata"
page_title: "IdentityNow: Data Source: identitynow_access_model_metadata_attribute"
description: |-
  Gets information about an existing IdentityNow access model metadata attribute.
---

# Data Source: identitynow_access_model_metadata_attribute

Use this data source to look up an access model metadata attribute and its values by key.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
