---
subcategory: "Access Profile"
page_title: "IdentityNow: Data Access Profile: identitynow_access_profile"
description: |-
  Gets information about an existing Access Profile.
---

# Data Source: identitynow_access_profile

Use this data source to access information about an existing Access Profile.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
