---
subcategory: "Password Policy"
page_title: "IdentityNow: Data Source: identitynow_custom_password_instruction"
description: |-
  Gets IdentityNow custom password instructions.
---

# Data Source: identitynow_custom_password_instruction

Use this data source to read the custom password instructions of a page.

~> **Note:** This data source uses an experimental API that may change without notice.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
