---
subcategory: "Data Access Security"
page_title: "IdentityNow: Data Source: identitynow_das_application"
description: |-
  Gets information about an existing IdentityNow Data Access Security application.
---

# Data Source: identitynow_das_application

Use this data source to look up a Data Access Security application by ID.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
