---
subcategory: "Role"
page_title: "IdentityNow: Data Source: identitynow_dimension"
description: |-
  Gets information about an existing Dimension.
---

# Data Source: identitynow_dimension

Use this data source to access information about an existing Dimension. A dimension is a sub-division of a role that allows fine-grained access grouping.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
