---
subcategory: "Custom Forms"
page_title: "IdentityNow: Data Source: identitynow_form_definition"
description: |-
  Gets information about an existing IdentityNow custom form definition.
---

# Data Source: identitynow_form_definition

Use this data source to look up an existing IdentityNow custom form definition by name.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
