---
subcategory: "Governance Group"
page_title: "IdentityNow: Data Governance Group: identitynow_governance_group"
description: |-
  Gets information about an existing Governance Group.
---

# Data Source: identitynow_governance_group

Use this data source to access information about an existing Governance Group.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
