---
subcategory: "Identity Profile"
page_title: "IdentityNow: Data Source: identitynow_identity_profile"
description: |-
  Gets information about an existing IdentityNow identity profile.
---

# Data Source: identitynow_identity_profile

Use this data source to look up an identity profile by ID or name.

## Example Usage

{{ tffile .ExampleFile }}

Exactly one of `id` and `name` must be set.

{{ .SchemaMarkdown | trimspace }}
