---
subcategory: "Identity Attribute"
page_title: "IdentityNow: Data Source: identitynow_identity_attribute"
description: |-
  Gets information about an existing IdentityNow identity attribute.
---

# Data Source: identitynow_identity_attribute

Use this data source to look up an identity attribute by its technical name.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
