---
subcategory: "Multi-Host Integration"
page_title: "IdentityNow: Data Source: identitynow_multihost"
description: |-
  Gets information about an existing IdentityNow Multi-Host Integration.
---

# Data Source: identitynow_multihost

Use this data source to look up a Multi-Host Integration by ID.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
