---
subcategory: "Tenant Settings"
page_title: "IdentityNow: Data Source: identitynow_org_config"
description: |-
  Gets the IdentityNow org configuration.
---

# Data Source: identitynow_org_config

Use this data source to read the tenant-wide organization configuration, e.g. the time zone. To change the settings use the [identitynow_org_config](../resources/org_config) resource.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
