---
subcategory: "Role"
page_title: "IdentityNow: Data Source: identitynow_role"
description: |-
  Gets information about an existing Role.
---

# Data Source: identitynow_role

Use this data source to access information about an existing Role.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
