---
subcategory: "Search"
page_title: "IdentityNow: Data Source: identitynow_saved_search"
description: |-
  Gets information about an existing IdentityNow saved search.
---

# Data Source: identitynow_saved_search

Use this data source to look up a saved search by ID.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
