---
subcategory: "Service Desk Integration"
page_title: "IdentityNow: Data Source: identitynow_service_desk_integration"
description: |-
  Gets information about an existing IdentityNow service desk integration.
---

# Data Source: identitynow_service_desk_integration

Use this data source to look up a service desk integration by ID or name.

## Example Usage

{{ tffile .ExampleFile }}

Exactly one of `id` and `name` must be set.

{{ .SchemaMarkdown | trimspace }}
