---
subcategory: "Service Desk Integration"
page_title: "IdentityNow: Data Source: identitynow_service_desk_integration_types"
description: |-
  Lists the supported IdentityNow service desk integration types.
---

# Data Source: identitynow_service_desk_integration_types

Use this data source to list the supported service desk integration types, e.g. to validate the `type` of an [identitynow_service_desk_integration](../resources/service_desk_integration).

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
