---
subcategory: "Source"
page_title: "IdentityNow: Data Source: identitynow_source_provisioning_policy"
description: |-
  Gets information about a provisioning policy of an IdentityNow source.
---

# Data Source: identitynow_source_provisioning_policy

Use this data source to look up the provisioning policy of a source by usage type.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
