---
subcategory: "Source"
page_title: "IdentityNow: Data Source: identitynow_source"
description: |-
  Gets information about an existing Source.
---

# Data Source: identitynow_source

Use this data source to access information about an existing Source.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
