---
subcategory: "Source App"
page_title: "IdentityNow: Data Source App: identitynow_source_app"
description: |-
  Gets information about an existing Source App.
---

# Data Source: identitynow_source_app

Use this data source to access information about an existing Source App.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
