---
subcategory: "Source"
page_title: "IdentityNow: Data Source: identitynow_source_schedule"
description: |-
  Gets information about an aggregation schedule of an IdentityNow source.
---

# Data Source: identitynow_source_schedule

Use this data source to look up an aggregation schedule of a source by type.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
