---
subcategory: "Tenant Settings"
page_title: "IdentityNow: Data Source: identitynow_tenant"
description: |-
  Gets information about the current IdentityNow tenant.
---

# Data Source: identitynow_tenant

Use this data source to read information about the current tenant: its name, deployment pod and region, and its products with their licenses.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
