---
subcategory: "Tenant Settings"
page_title: "IdentityNow: Data Source: identitynow_valid_time_zones"
description: |-
  Lists the time zones that can be set in the IdentityNow org configuration.
---

# Data Source: identitynow_valid_time_zones

Use this data source to list the time zones that can be set as `time_zone` of the [identitynow_org_config](../resources/org_config) resource. The API is experimental; the provider sends the `X-SailPoint-Experimental` header.

## Example Usage

{{ tffile .ExampleFile }}

## Arguments Reference

This data source has no arguments.

## Attributes Reference

* `id` - Always `valid-time-zones`.
* `time_zones` - List of valid time zone names, e.g. `Europe/Warsaw`.
