---
subcategory: "Workflow"
page_title: "IdentityNow: Data Source: identitynow_workflow"
description: |-
  Gets information about an existing Workflow.
---

# Data Source: identitynow_workflow

Use this data source to access information about an existing Workflow. The lookup fails when several workflows share the name.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
